<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-5">

			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4">Cart Page</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sl No</th>
								<th scope="col">Image</th>
								<th scope="col">Product Name</th>
								<th scope="col">Price</th>
								<th scope="col" class="text-center">Quantity</th>
								<th scope="col">Total Price</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cart,c:${carts}">
								<th scope="row">[[${c.count}]]</th>
								<td><img
									th:src="@{'/img/product_img/'+${cart.product.image}}"
									width="70px" height="70px"></td>
								<td>[[${cart.product.title}]]</td>
								<td>[[${#numbers.formatDecimal(cart.product.discountPrice,
									0, 'COMMA', 0, 'POINT')} + ' ₫']]</td>
								<td class="text-center">
									<div class="d-inline-flex align-items-center gap-2">
										<a
											th:href="@{'/user/cartQuantityUpdate?sy=de&cid=' + ${cart.id}}"
											class="btn btn-sm btn-outline-secondary"> <i
											class="fa-solid fa-minus"></i>
										</a> <span class="fw-bold px-2">[[${cart.quantity}]]</span> <a
											th:href="@{'/user/cartQuantityUpdate?sy=in&cid=' + ${cart.id}}"
											class="btn btn-sm btn-outline-secondary"> <i
											class="fa-solid fa-plus"></i>
										</a>
									</div>
								</td>

								<td>[[${#numbers.formatDecimal(cart.totalPrice, 0, 'COMMA',
									0, 'POINT')} + ' ₫']]</td>
							</tr>

							<tr>
								<td colspan="4"></td>
								<td class="fw-bold">Total Price</td>
								<td class="fw-bold">[[${totalOrderPrice != null ?
									#numbers.formatDecimal(totalOrderPrice, 0, 'COMMA', 0, 'POINT')
									+ ' ₫' : '0 ₫'}]]</td>

							</tr>

						</tbody>
					</table>
					<div class="d-flex justify-content-between px-3">
						<a th:href="@{/products}" class="btn btn-outline-primary"> <i
							class="fa-solid fa-arrow-left"></i> Quay lại sản phẩm
						</a> <a href="/user/orders" class="btn btn-warning"> <i
							class="fa-solid fa-credit-card"></i> Thanh toán
						</a>
					</div>

				</div>
			</div>
		</div>

	</section>

</body>
</html>